:root {
    --black: #0e0004;
    --black2: #252627;
    /* --black2: #23231a; */

    --white: #f5f5f5;
    /* --text-white: #eff2f1; */
    --header-height: 100px;
    --primary: #ffbf46;
    /* --dark-yellow: #de9e36; */
}

body {
    background-color: var(--black);
    color: var(--white);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: var(--header-height);
    background-color:  var(--black);
}


ul a{
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
    line-height: 2;
    transition: 0.15s;
    border: 2px solid transparent;
}

ul a:hover{

    border-bottom: 2px solid var(--primary);
}

header img{
    /* width: 100%; */
    width: var(--header-height);
    padding: 28px;
}

.placeHolder {
    height: var(--header-height);
    visibility: hidden;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
    flex: 1;
}


.headerContainer ul {
    /* font-size: 1.5rem; */
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 26px;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    padding: 20px;
    margin-top: var(--header-height);
    padding: 200px 16px;
}

.homeContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.homeContainer p {
    font-size: 1.5rem;
    font-weight: 400;
}

.headerLanguage{

    /* margin: auto 0; */
    position: fixed;
    right: 0;
    padding: 20px;
}


/* United style */
h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
    color: var(--primary);
    text-align: center;
    margin-bottom: 18px;
}

.scetionTitle{
    font-size: 1.6rem;
    font-weight: 100;
    text-align: center;
}

.projectTitle{
    color: var(--primary);
    font-size: 1.6rem;
}

.projectTitleTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardsTitle {
    /* color: var(--primary); */
    font-size: 1.2rem;
    font-weight: 700;
}

.cardsHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

/* Skill page style */
.skillSetContainer {
    padding: 48px 16px;
    background-color: var(--black2);
}

.innerStyle{
    row-gap: 32px;
    display: flex;
    flex-direction: column;
}

.skillCard {
    /* width: 100px; */
    text-align: center;
    text-wrap: wrap;
    padding: 16px;
    background-color: var(--primary);
    border-radius: 4px;
    flex: 1;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    /* box-shadow: 1px -1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 5px 0px rgba(0, 0, 0, 0.75); */
}

.skillCard ul{
    display:flex;
    flex-direction: column;
    row-gap: 4px;
}


/* Project page style */
.projectContainer{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    padding: 32px 16px;
    margin: 32px 0;
    background-color: var(--black);
}

.projectCardsHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    line-height: 24px;

    
}

.projectCard{
    /* max-height: 300px; */
    min-width: 280px;
    text-align: left;
    text-wrap: wrap;
    padding: 24px;
    border-radius: 16px;
    border: 2px solid var(--primary);
    flex: 1;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--black2);
    color: var(--white);
}

.projectCard p, li{
    font-weight: 100;
}

.projectCard ul{
    padding: 0 16px;
    line-height: 26px;
    list-style-type: square;
}

.projectCard h4, h5{
    color: var(--primary);
}

/* About page style */
.aboutContainer {
    background-color: var(--black2);
    padding: 32px 16px;
    line-height: 24px;
}

.topContainer {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

.leftContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.rightContainer p{
    font-weight: 100 ;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    column-gap: 26px;
    padding: 16px;
    background-color: var(--black);

}

.footerLeft {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    text-align: center;
}

.footerRight {
    display: flex;
    flex-direction: row;
    gap: 16px;
    text-align: left;
    align-items: center;
}

.footerLeft img{
    padding: 26px;
    padding-left: 0;
    margin-left: 0;
    width: 150px;
}

.contactInfo {
    text-align: left;
    row-gap: 8px;
    line-height: 24px;
    margin-right: 16px;
}

.contactInfo a{
    color:var(--primary);
    text-decoration: none;
}


.copyright {
    background-color: var(--black2);
    padding: 16px;
}

.bottom {
    padding: 24px;
}

@media screen and (max-width: 490px){
    .headerLogo{
        display: none;
    }
    .placeHolder{
        display: none;
    }
    .footerContainer{
        row-gap: 16px;
    }
    .footerRight{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: left;
    }
}