:root {
    --black: #0e0004;
    --black2: #252627;

    --white: #f5f5f5;
    --text-white: #eff2f1;
    --header-height: 100px;
    --primary: #ffbf46;
    --secondary: #de9e36;
}

.popupContainer {
  display: flex;
  gap: 16px;
}

.popupContainer button {
    background-color: var(--primary);
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    transition: 300ms;
    overflow: hidden;
}

.popupContainer button:hover {
    background-color: var(--text-white);
}

.popupModal {
    position: absolute;
    width: 100%;
    min-height: 500px;
    max-height: 80%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    text-wrap: wrap;
    padding: 24px;
    border-radius: 8px;
    border: 3px solid var(--primary); 
    background-color: var(--black2);
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--black2);
    scroll-behavior: smooth;
}

.carouselContainer img{
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin: 8px 0;
}

.note{
    color: var(--primary);
}

.popupModal p{
    font-weight: 100;
    line-height: 1.5;
}

.popupModal h3{
    line-height: 1.5;
    margin-top: 8px;
}

.detailContainer{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 16px;
}

.techContainer{
    border-right: 2px solid;
    line-height: 1.3;    
}

.topButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.title{
    flex: 1;
}

.topLeftIcon{
    display: flex;
    align-items: center;
    gap: 16px;
}

.topLeftIcon a:visited, a:link, a:active, a:hover{
   color:var(--white);
}

.closeIcon{
    cursor: pointer;
}

.topRight{
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 490px){
    .popupModal{
        width: 70%;
        height: 60vh;
    }
    .detailContainer{
        display: flex;
        flex-direction: column;
    }
    .techContainer{
        border-right: none;
    }
}