.projectContainer{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    padding: 32px 16px;
    margin-top: var(--header-height);
    background-color: var(--background-color2);
}

.imageContainer{
    margin-bottom: 32px;
}

.imgHolder{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: left;
    padding-left: 16px;
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 16px 0;
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 8px 0;
}

p, li{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 8px 0;
    padding: auto;
}


ul{
    padding: 0 48px;
    list-style-type: square;
}

.overviewDetails, .featuresContainer{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
}

.overviewDetailsLeft{
    flex: 1.8;
}

.overviewDetailsRight, .featuresLeft ,.featuresRight{
    flex: 1;
}

.technicalContainer{
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}
